.guides {
  background: var(--Light-Blue-40, #e6ecfa66);
  padding: 120px 0;
}

.guides h2 {
  margin-bottom: 32px;
}

.guides p {
  margin-bottom: 40px;
}

.guides__list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 12px;
}
